<% layout('layouts/boilerplate') %> 
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title: </label>
                    <input class="form-control" type="text" id="title" name="campground[title]" placeholder="insert title" value="<%= campground.title %>" required>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add images</label>
                    <input type="file" name="image" id="image" multiple>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">€</span>
                        <input class="form-control" type="number" id="price" step="0.01" name="campground[price]" placeholder="insert price" value="<%= campground.price %>" required>
                      </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location: </label>
                    <input class="form-control" type="text" id="location" name="campground[location]" placeholder="insert location" value="<%= campground.location %>" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description: </label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" placeholder="insert description" rows="6" required><%= campground.description %> </textarea>
                </div>
                <div>
                    <button class="btn btn-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>